<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" #menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Hasstrol</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>

          <ion-list-header>
            <ion-label>Rooms</ion-label>
          </ion-list-header>
          <ion-menu-toggle class='menu-indented' auto-hide="false" *ngFor="let room of _storage.savedRooms | async; let i = index">
            <ion-item [routerLink]="['/home']" (click)='setRoomIndex(i)'>
              <ion-label>
                {{room.name}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-list-header>
            <ion-label>Application</ion-label>
          </ion-list-header>
          <ion-menu-toggle class='menu-indented' auto-hide="false">
            <ion-item [routerLink]="['/settings']">
              <ion-label>
                Settings
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle class='menu-indented' auto-hide="false">
            <ion-item (click)="menu.close(true); _storage.setEditing(true)">
              <ion-label>
                Edit Rooms
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>