/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Dragula */
/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
   
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
   
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
   
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

  .menu-indented > ion-item {
    margin: 0px 0px 0px 10px;
  }

  .camera-img {    
    border-radius: 25px;
    vertical-align: middle;
  }

  .camera-name {
    position: absolute;
    border-radius: 0 0 25px 25px;
    bottom: 10px;
    height: 1.5em;
    width: 98%;
    color: white;
    background-color: rgba(0, 0, 0, 0.678);
    text-align: center;
  }

  

  .tile-box {
    position: relative;
    width: 100%;
    /* desired width */
    // margin: 4px;
    
  }
  
  .tile-box:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
  }

  .friendly-name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
  }

  .tile-content {
    position: absolute;
    border-radius: 25px;
    border: 2px solid;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(170, 170, 170);
  /*   display: flex;
    align-items: center; */
    line-height:100%;
    height:100%;
    text-align: center;
    display: flex;
    // align-items: center;
    justify-content: center;
  }

  .tile-icon-space {
    height: 40%;
    margin-top: 5%;
    margin-bottom: 0%;
  }
  .tile-temperature-space {
    height: 40%;
    width: 100%;
    border-radius: 30%;
    border: 2px solid;
    font-size: 9vw;
    margin-top: 5%;
    margin-bottom: 0%;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    justify-content: center;
  }

  .tile-name-space {
    height: 35%; 
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    justify-content: center;
    white-space: normal;
    font-size: 95%;
  }

  .tile-state-space {
    height: 10%;
  }

  .tile-background-on {
    opacity: 1;
    background-color: rgb(189, 189, 189);
    color: #000;
    border-color: white;
    // box-shadow: 0px 0px 30px orange;
  }

  .tile-background-off {
    opacity: .5;
    background-color: rgb(82, 82, 82);
    color: #fff;
    border-color: black
  }

  .tile-icon-on {
    color: orange;
    opacity: 1;
  }





 
