

  .box {
    position: relative;
    width: 100%;
    /* desired width */
    // margin: 4px;
    
  }
  
  .box:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
  }

  .content {
    position: absolute;
    border-radius: 25px;
    border: 2px solid #73AD21;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(170, 170, 170);
  /*   display: flex;
    align-items: center; */
    line-height:100%;
    height:100%;
    text-align: center;
    display: flex;
    // align-items: center;
    justify-content: center;
  }

  .icon-space {
    height: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .name-space {
    height: 30%; 
    display: block!important;
    align-content: center!important;
    align-items: center!important;
    justify-content: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  .state-space {
    height: 10%;
  }

  .background-on {
    opacity: 1;
    background-color: rgb(167, 167, 167);
    color: #000;
    box-shadow: 0px 0px 30px orange;
  }

  .background-off {
    opacity: .5;
    background-color: rgb(82, 82, 82);
    color: #fff;
  }

  .icon-on {
    opacity: 1;
  }

  .friendly-name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
  }

  .numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}


 